page-myquot-process-status {
    h3.title {
        font-size: 16px;
        font-weight: bold;
        color: #999;
        padding: 10px 10px 10px 0px;
        border-bottom: 2px solid #eeeeee;
        letter-spacing: -1px;
        line-height: 16px;
    }
    .wrap {
        padding: 20px;
    }
    .wrap_1 {
        box-shadow: 1px 2px 3px #cccccc;
    }
    .wrap_2{
        padding-bottom: 10px;
    }
    .middle {
        width: 100%;
        height: 5px;
        border-top: 5px solid #eee;
        margin-top: 3px;
    }
    // 
    .contract h3.title {
        padding: 11px 15px 11px 0px;
        line-height: 14px;
    }
    .wrap .list {
        padding: 10px;
        height: 40px;
        border-bottom: 1px solid #ddd;
    }
    .wrap .list.cont {
        height: 46px;
        padding: 15px 10px;
    }
    .wrap .list label {
        width: 100px;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: #999;
        float: left;
        letter-spacing: -1px;
        margin-top: 2px;
    }
    .wrap .list .content {
        width: calc(100% - 100px);
        float: left;
        color: #555;
        font-size: 15px;
        font-weight: bold;
    }
    .wrap .list.double {
        height: 50px;
    }
    .wrap .list.double label {
        margin-top: 5px;
    }
    .wrap .list .content p {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: -1px;
        width: 100px;
        padding-bottom: 5px;
    }
    .wrap .list .content p img {
        margin-left: 20px;
        vertical-align: bottom;
    }
    .wrap .list .content button,
    .wrap .contract.btn-cont button.viewContract {
        border: 1.5px solid #E7641B;
        border-radius: 10rem;
        background: none;
        padding: 6px;
        width: 100px;
        height: 35px;
        color: #E7641C;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        top: -7px;
    }
    .wrap .contract.btn-cont {
        padding: 20px 0 0;
        text-align: center;
    }
    .wrap .contract.btn-cont input {
        vertical-align: text-bottom;
    }
    .wrap .contract.btn-cont label {
        font-size: 11px;
        letter-spacing: -1px;
        color: #555;
    }
    .wrap .contract.btn-cont button.contract {
        margin: 0;
        border-radius: 10rem;
        font-size: 17px;
        color: #333;
        height: 45px;
        background: #FFA200;
        margin-top: 10px;
        width: 100%;
    }
    .wrap .contract .rating {
        width: 100%;
        text-align: center;
    }
    .wrap .contract .rating li {
        display: inline-block;
        margin-left: 5px;
    }
    .wrap .contract .rating li img {
        width: 25px;
    }
    .wrap h6.thanks {
        margin-top: 10px !important;
        margin-bottom: 50px;
        color: #0096FF !important;
    }
    // 
    .wrap .contract.btn-cont p {
        font-size: 12px;
        color: #ccc;
    }
    .wrap .contract.btn-cont h6 {
        color: #555;
        font-size: 15px;
        font-weight: bold;
        margin-top: 5px;
    }
    .wrap .viewContract .button-inner {
        font-size: 13px;
        letter-spacing: -1px;
    }
    .no-data h3 {
        text-align: center;
        color: #555;
        font-size: 14px;
        font-weight: bold;
    }
}
