page-login {
    .container {
        // background: url(../assets/imgs/login/bg.png) no-repeat;
        // background-size: cover;
        overflow: hidden;
        background: url(../assets/imgs/loginbackground.png);
        background-position: 62%;
        background-repeat: no-repeat;
    }
    .scroll-content {
        overflow-y: hidden!important;
    }
    .background {
        width: 100%; height: 100%;
        position: absolute;
        z-index: -10;
    }
    // logo
    .logo-cont {
        position: absolute;
        top: 10%;
        text-align: center;
        width: 100%;
    }
    .ml10{
        margin-left:50px !important;
    }
    .logo-cont .wrap { 
        position: relative;
        width: 21rem;
        margin: auto;
    }
    .logo-cont .bg { width: 20rem;}
    .logo-cont span { 
        color: #bebebe;
        position: absolute;
        left: 36%;
        top: 3.6rem;
        font-size: 1.1rem;
        font-weight: 700;
    }
    // form
    .form {
        position: absolute;
        top: 25%;
        width: 100%;
        padding: 0;
    }
    .kakao{
        margin-top:50px !important;
    }
    ion-list { margin-bottom: 10px !important; }
    ion-list ion-item {
        background: transparent !important;
        padding: 0 40px!important;
    }
    .item-input-has-focus .label-md[floating] { color: #e15a00}
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: #e15a00;
        -webkit-box-shadow: inset 0 -1px 0 0 #e15a00;
        box-shadow: inset 0 -1px 0 0 #e15a00;
    }
    ion-input { color: #FFF; font-size: 17px; }
    // check box
    .item.check-cont { padding: 30px 40px; }
    .item label { color:#bebebe; font-size: 11px; }
    ion-label.label-md { color: #fff; }
    // login button
    .item.btn-cont { padding: 0 40px;}
    .item.btn-cont a{
        margin: 0;
        border-radius: 1rem;
        font-size: 15px;
        color: #333;
        height: 45px;
    }
    .item.btn-cont a.login {
        background: #e15a00;
    }
    .item.btn-cont a.txtBtn { color: #FFF; text-decoration: underline; font-size: 12px;}
    
    .item.btn-cont a.kakao {
        background-color: #f9d300;
        background-image: url(../assets/imgs/kakao.png);
        background-position: 27% 50%;
        background-repeat: no-repeat;
        background-size: 23px;
    }
    .item.btn-cont a.naver {
        background-color: #1FBC02;
        background-image: url(../assets/imgs/naver.png);
        background-position: 7% 50%;
        background-repeat: no-repeat;
        background-size: 23px;
    }
}
