page-quotation {
    .scroll-content {
       margin-top:50px !important;

       background-color:#eff2f3;
    }
    p{
        float:left;
        line-height: 30px !important;
      
    }
    .list-md{
        background-color:#eff2f3 !important;
    }
    .input-wrapper{
        padding-left:15px;
    }
    .item-md{
        padding-left:4px;
        padding-right:4px;
        background-color:#eff2f3 !important;
    }
    .test{
        display: flow-root;
        height: 800px;
        overflow-y: scroll;
    }
    button .button-inner{
       
        letter-spacing: 0px;
    }
    .item-md .item-button{
        min-width: 62px;
        span{
            font-weight: 50 !important;
            font-size: 9px;
        }
    }
    .toolbar-content-md{
        margin-bottom:10px;
    }
}
