page-compare-quotation {
    .scroll-content {
        overflow-y: hidden;
        background-color:#eff2f3;
        
    }
    .top_bar {
        position:absolute;
        height:50px;
        background-color:#fff;
    }
    .top-wrap {
        height: 175px;
        margin-top: 60px;
    }
    h3.title {
        height: 50px;
        text-align: center;
        margin-top: 5px!important;
        font-size: 16px;
        font-weight: 700;
        color: #555;
    }
    h3 img { 
        vertical-align: text-top;
        width: 24px;
    }
    p.intro {
        color: #555;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 18px;
    }
    .ranking {
        text-align: center;
        margin-top: 20px;
    }
    .ranking img {
        width: 42px;
    }
    .ranking h3 {
        margin-top: 5px;
        color: #ec3e0f;
        font-size: 16px;
        font-weight: 700;
    }
    // btn container
    ion-col.bgblue {
        background: #566174;
    } 
    ion-col.bgdblue {
        background: #3d425d;
    } 
    .ion-grid { 
        // height: 22%;
        height: calc((100% - 445px) / 2);
    }
    .bottom.ion-grid { 
        top: 85%;
        height: 15%;
    }
    .btn-cont { height: 100%;}
    .ion-grid .middle-wrap {
        text-align: center;
        position: absolute;
        top: 25%;
        width: 97%;
    }
    .btn-cont h6 { 
        font-weight: 700;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0px;
        margin: 0;
    }
    .btn-cont img.mark {
        width: 2.5rem;
        display: inline-block;
    }
    .btn-cont .img-top { width: 100% }
    .btn-cont .text-cont{
        width: 100%;
        margin-top: 10px;
    }
    .expect-img .btn-cont .text-cont {
        top: 53%;
    }
    // btn-wrap
    .btn-wrap {
        margin-top : 20px;
    } 
    // btns
    .btn-cont {
        width: 100%;
        text-align: center;
    }
    .btn-cont .analyseClient {
        margin: 0 auto;
        font-size: 15px;
        color: #FFF;
        height: 50px;
        background: #353b5d;
        width: 90%;
    }
    .mt20{
        margin-top:0px !important;
    }
    .btn-cont .analyseClient img {
        width: 20px;
        margin-right: 10px;
    }
    
    .login-cont {
        //해당 주석은 하단에 맞추고 싶을 때
        width: 100%;
        //position: absolute;
        position:relative;
        margin-top : 15px;
        //bottom: 15px;
        text-align: center;
    }
    .login-cont button {
        background: transparent;
        border: 1px solid;
        border-radius: 10rem;
        font-size: 1rem;
        color: #fff;
        width: 46%;
        height: 50px;
    }
    .login-cont button.login {
    box-shadow: none;
    border-radius: 8px 0px 0px 8px;
    border-color: #e15a00;
    background-color: #e15a00;
    left: 2%;
    }
    .login-cont button.register {
    box-shadow: none;
    border-color: #ea7e00;
    background-color: #ea7e00;
    right: 2%;
    border-radius: 0px 8px 8px 0px;
    }
    .boxBtn {
        border-radius: 8px;
        background-color: #3d435d
    }
}
