page-home {
    .scroll-content {
        overflow-y: scroll;
        contain: none !important;

    background: #eff2f3;
    }
    
    .top-cont {
        width: 100%;
        top: 0;
        background: white;
        z-index: 9999999999999999999999999999;
        // height: calc(100% - 300px);
        overflow: hidden;
        position: fixed;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .quotation{
        text-align: center;
    }
    //실시간 견적현황 글씨 크기 조정
    .quotation .down p {
        font-size:3.5vw;
    }
    .baek{
        margin-top: 10px;
    text-align: center;
    }

    .arrow{
        height: 14px;
        object-fit: contain;
        position:absolute;
        right:5%;
    }
    .down{
        display: flow-root;
        height: 100px;
        overflow-y: scroll;
    }
    .more{
        width: 52px;
  height: 12px;
  font-family: ProximaNova;

  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.5px;
  text-align: left;
  color: #000000;
    }
    .maintitle{
        top: 6.5%;
        position: fixed;
    text-align: center;
    line-height: 2.5em;
    background: white;
    z-index:999999999999999; 
    width: 100%;
    }
    .footer-cont{
        width:100%;
    }
    .main-upper{
        text-align: center;
        top: 8%;
        position: relative;
        background-color:#eff2f3;
    }
    button{
        margin-top: 20px;
    }
    .installpic{
        width: 150px;
        height: 150px;

    border-radius: 10px;
    }
    .main-image{
        width: 100%;
    height: 100%;
    }
    .swiper-pagination-bullet-active{
            width:20px;
            border-radius: 5px;
    }
    .swiper-pagination-bullet  {
        background-color:#fff;
        opacity:1;
    }
    .img-btn-before {
        position:absolute;
        left:0;
        background-color:#000;
        opacity: 0.3;
        width: 2em;
        height: 2em;
        border-radius: 0px 5px 5px 0px;
        padding: 6px;
        top: 100px;
        z-index: 999999999999999999;
    }
    .img-btn-next{

        position: absolute;
        right: 0;
        background-color: #000;
        opacity: 0.3;
        width: 2em;
        height: 2em;
        border-radius: 5px 0 0 5px;
        padding: 6px;
        top: 100px;
        z-index:999999999999999999;

    }
    .main-login{
        width: 100%;
        // height: calc(100% - 300px);
        overflow: hidden;
    }
    .main-banner {
        width: 100%;
        // height: calc(100% - 300px);
        height: 35%;
        overflow: hidden;
    }
    .banner-text {
        color: #fff;
        top: 90px;
        width: 100%;
        position: absolute;
        z-index: 2;
        font-size: 1em;
    }
    .banner-title {
        top: 110px;
        width: 100%;
        position: absolute;
        z-index: 2;
        font-size: 2.5em;
        color: #fff;
    }
    .top-cont .logo-cont {
        text-align: center;
        width: 100%;
    }
    .top-cont .logo-cont .wrap { 
        position: relative;
        width: 21rem;
        margin: auto;
    }
    .top-cont .logo-cont .bg { 
        width: 15rem;
        height:3em;}
    .top-cont .logo-cont span { 
        color: #bebebe;
        position: absolute;
        left: 36%;
        top: 3.6rem;
        font-size: 1.1rem;
        font-weight: 700;
    }
    .top-cont .auth-cont {
        position: absolute;
        bottom: 2rem;
        text-align: center;
        width: 100%;
    }
    // setting
    .maintitle .setting {
        width: 10%;
    color: black;
    background: black;
    float: right;
    z-index: 99999999;
    right: 10%;
    position: relative;
    }
    .top-cont .myclient {
        position: absolute;
        bottom: 0;
        text-align: center;
        height: 60px;
        width: 100%;
        background: #CF5E9C;
    }
    // partners   myInfoUpdate
    .top-cont .myInfoUpdate {
        position: absolute;
        bottom: 60px;
        text-align: center;
        height: 60px;
        width: 100%;
        background: #3A83C7;
    }
    .top-cont .myclient img { 
        width: 25px;
        vertical-align: top;
        margin-top: 20px;
    }
    .top-cont .myInfoUpdate span,
    .top-cont .myclient span { 
        font-size: 1.4rem;
        letter-spacing: 2px;
        color: #FFF;
        position: relative;
        top: 20px;
        font-weight: 700;
    }
    .auth-cont button {
        background: transparent;
        border: 1px solid #FFA200;
        border-radius: 4px;
        font-size: 1rem;
        color: #fff;
        width: 14rem;
    }
    .auth-cont button.login {
        color: #FFA200;
    }
    .auth-cont button.register {
        border-color: #CCC;
        margin-left: 1rem;
    }
    // btn wrap
    .ion-grid { 
    }
    .grid_1 { 
        // top: 65%;
    }
    .grid_2 { 
        height: 100px;
    }
    .bottom.ion-grid { 
        // top: 90%;
        height: 100px;
    }
    .btn-cont { height: 100%; }
    .btn-cont .middle-wrap {
        text-align: center;
        position: absolute;
        top: 22%;
        width: 97%;
    }
    .btn-cont h6 { 
        font-weight: 700;
        color: #fff;
        font-size: 1.4rem;
        letter-spacing: 2px;
        margin: 0;
    }
    .btn-cont img.mark {
        width: 3.5rem;
        display: inline-block;
    }
    .btn-cont .support-info img.mark { 
        width: 4.4rem;
    }
    .btn-cont .compare-quo img.mark { 
        width: 2.8rem;
    }
    .btn-cont .img-top { width: 100% }
    .btn-cont .text-cont{
        margin-top: 10px;
        width: 100%;
    }
    .btn-cont .compare-quo  .text-cont{
        margin-top: 17px;
    }
    .support-info {
        background: #3AAA9C;
    } 
    .compare-quo {
        background: #DCAF0C;
    } 
    .analyse {
        background: #3A83C7;
    } 

    .bottom .service_intro {
        background: url(../assets/imgs/home/service_intro.png);
    }
    
    .bottom .cutomer_center {
        background: url(../assets/imgs/home/cutomer_center.png);
    }
    .bottom [col-6]{
        height: 100%;
        overflow: hidden;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bottom .text-center {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    // footer
    .footer { 
        height: 120px;
        text-align: left;
        display: -webkit-box;
        bottom: 0%;
        position: relative;
        background-color: #eff2f3;

    }
    .footer-cont { 
        height: 100px; 
        padding: 10px;
        padding-top: 20px;
    }
    .footer h3 {
        color: black;
        font-size: 13.5px;
        font-weight: bold;
        margin-bottom: 2px;
        margin-top: 0;
    }
    .quot {
        border-bottom: 0.5px solid;
    border-color: #e4e4e4;
    height: 15px;
    display: table;
    width: 95%;
    }
    .quotationp{
        height: 15px;
        white-space: nowrap; 
   overflow: hidden;
   text-overflow: ellipsis; 
       overflow-x: hidden; width:50%; text-align: left; margin-left:15px; float:left;
    }
    .mainlast{
    clear:both;
    width: 100%;
    height: 130px;
    //display: -webkit-inline-box;

    }
    .downcontents{
        box-shadow: 0px 10px 5px;
    }
    .footer p {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: -1px;
        margin: auto 0 0.5rem;
        color: #555;
    }
    .footer img { 
        height: 55%;
        margin-top: 25px;
    }
    .w3-third{
        width:45% !important;
        float:left;
    margin-left: 10px;
    }
    //설치현황 글씨 크기 조정 
    .w3-container p {
     //   height:20px;
        font-size:3.5vw;
    }

}
