page-benefitgenerator{
    .scroll-content {
        overflow-y: scroll;
    }
    ion-content {
        background-color: #eee!important;
    }
    .top_bar {
        height:45px;
        background-color:#fff;
}
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after {
        display: none;
    }
    [col-6] {
        max-width: 33% !important;
    }
    .banner {
        height: calc(100% - 510px);
        // height: 140px;
        width: 100%;
        text-align: center;
        overflow: hidden;
        background: url(../assets/imgs/home/banner.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner img.avartar {
        position: absolute;
        bottom: 300px;
        margin-left: -40px;
        width: 80px;
        z-index: 99;
        border: 1.5px solid #ccc;
        border-radius: 50%;
    }
    .wrap {

    padding: 0 15px;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        text-align: left;
        padding-top: 20px;
    }
    .wrap h3 {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -1px;
        color: #555;
    }
    .wrap p {
        font-size: 12px;
        letter-spacing: -0.5px;
    }
    .wrap .cont_1 {
        top: 30%;
    }
    .wrap .cont_2 {
        top: 66%;
    }
    .kakao {
        width: 75%;
        height: 45px;
        margin: auto;
        border-radius: 10rem;
        padding-top: 6px;
        margin-top: 15px;
        background: #F9E000;
    }
    .kakao label {
        font-size: 10px;
        letter-spacing: -1px;
    }
    .kakao h6 {
        font-weight: bold;
        color: #555;
        line-height: 10px;
        margin: 0;
    }
    .wrap .phone img {
        width: 25px; 
    }
    .wrap .phone-num {
        font-size: 25px;
        font-weight: bold;
        color: #555;
        margin-top: 10px;
    }
    // footer
    .footer { 
        height: 120px;
        text-align: center;
        background: #fff;
    }
    .mt1{

    padding-left: 10px !important;
    }
    .footer-cont { 
        height: 100px; 
        padding: 10px;
        padding-top: 20px;
    }
    .footer h3 {
        color: red;
        font-size: 13.5px;
        font-weight: bold;
        margin-bottom: 2px;
        margin-top: 0;
    }

    .alert-md {
        margin-bottom:15px;
    }
    .alert-md label{
        color:black !important;
        width: 100% !important;
        font-size:1em;
    }
    .footer p {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: -1px;
        margin: auto 0 0.5rem;
        color: #555;
    }
    .footer img { 
        height: 55%;
        margin-top: 5px;
    }
    .alert-md .alert-input {
        width:95%;
        border-color:grey;
        margin-left:10px;
        margin-right:10px;
    } 
}