page-register-type {
    
    .scroll-content {
        overflow-y: hidden;
        background-color:#eff2f3;
    }
    h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -1px;
        color: #555;
    }
    .btn-cont {
        text-align: center;
        width: calc(100% - 50px);
        height: 180px;
        margin: auto;
        padding-top: 30px;
        .img-top{
            float: left;
            position: relative;
            top: 20%;
            left: 10%;
        }
    }
    h6{
        margin-top: 25px;
    }
    .center{
        margin-top: 30px;
        left: 40%;
    position: absolute;
    text-align: left;
    }
    .btn-cont .img-top img { width: 40px; }
    .btn-cont h6 { 
        font-weight: 700;
        color: #fff;
        margin: 10px 0 5px;
        font-size: 17px;
        letter-spacing: 2px;
    }
    .arrow{
        width: 24px;
        margin-top: 0.3em;
    }
    .btn-cont p {
        color: #fff;
        font-size: 14px;
        letter-spacing: -1px; 
    }
    .customer .btn-cont { background: #e15a00;
    
    
        border-radius: 10px;
    }
    .partners .btn-cont { background: #DCAF0C; 
        border-radius:10px;
    }
}
