page-custom-center {
    .scroll-content {
        overflow-y: scroll;
        background-color:#eff2f3;
    }
    ion-content {
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after {
        display: none;
    }
    [col-6] {
        max-width: 33% !important;
    }
    .banner {
        height: calc(100% - 310px);
        // height: 140px;
        width: 100%;
        text-align: center;
        overflow: hidden;
        background: url(../assets/imgs/home/banner.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner img.avartar {
        position: absolute;
        bottom: 290px;
        margin-left: -40px;
        width: 80px;
        z-index: 99;
        border-radius: 50%;
    }
    .service_intro{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    .wrap {
        position: relative;
        width: 100%;
        height: 170px;
        margin-bottom: 5px;
        text-align: center;
        -webkit-box-shadow: 1px 1px 1px #ccc;
        box-shadow: 1px 1px 1px #ccc;
    }
    .wrap h3 {
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -1px;
        color: #555;
    }
    .wrap p {
        font-size: 12px;
        letter-spacing: -0.5px;
    }
    .wrap .cont_1 {
        top: 66%;
    }
    .wrap .cont_2 {
        margin-top:20px;
        height: auto !important;
        top: 66%;
    }
    .kakao {
        width: 75%;
        height: 36px;
        margin: auto;
        border-radius: 10rem;
        padding-top: 0px;
        margin-top: 15px;
        background: #F9E000;
    }
    .kakao label {
        font-size: 10px;
        letter-spacing: -1px;
    }
    .kakao h6 {
        font-weight: bold;
        color: #555;
        line-height: 10px;
        margin: 0;
    }
    .wrap .phone img {
        width: 25px; 
    }
    .wrap .phone-num {
        font-size: 25px;
        font-weight: bold;
        color: #555;
        margin-top: 10px;
    }
    // footer
    .footer { 
        background-color: #fff;
        bottom:-300px;
        height: 120px;
        text-align: left;
    }
    .footer-cont { 
        height: 100px; 
        padding: 10px;
        padding-top: 20px;
    }
    .footer h3 {
        color: black;
        font-size: 13.5px;
        font-weight: bold;
        margin-bottom: 2px;
        margin-top: 0;
    }
    .footer p {
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: -1px;
        margin: auto 0 0.5rem;
        color: #555;
    }
    .footer img { 
        height: 55%;
        margin-top: 5px;
    }
    
}
