
<ion-header>
  <div class="top_bar">
    <span class="title">상세정보</span>
    <img src="assets/imgs/close.png" class="back_img" (click)="back()">
  </div>
</ion-header>

<ion-content padding>
  <div *ngIf="hasComData()">
    <div class="top-wrap">
      <img src="assets/imgs/processing_banner.png" class="bg">
      <h3 class="name">{{ comData.company_name.substring(0, 2) }}***</h3>
      <div style="display:inline-flex; margin-top:25px;" class="topsub">
          <p style="
          overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
    height: 20px;"><img src="assets/imgs/redmap.png" width="15" /> {{ comData.area }} </p>
          <p style="
          float: left;"><img src="assets/imgs/star2.png" width="15" /> {{ convRate(comData.rate) }} </p>
          <p style="
          float: left;"><img src="assets/imgs/area_mark.png" width="15" /> {{ comData.complete_cnt }} 건 완료 </p>
        
      </div>
      </div>
    
    <div class="wrap">
      <div class="list" style="height: 53px;">
        <label style="margin-top:9px;">예상 가격</label>
        <div class="content" style="margin-top:9px;">
          {{ numFormat(comData.final_price) }}원
        </div>
      </div>
      <!-- <div class="list">
        <label>예상 설치용량</label>
        <div class="content">{{ numFormat(comData.solar_power) }}kw</div>
      </div>
      <div class="list" *ngIf="hasContInfo('module_name')">
        <label>모듈 제품명</label>
        <div class="content">{{ contInfoData.module_name }}</div>
      </div>
      <div class="list" *ngIf="hasContInfo('inv_name')">
        <label>인버터 제품명</label>
        <div class="content">{{ contInfoData.inv_name }}</div>
      </div>
      <div class="list" *ngIf="hasContInfo('quality')">
        <label>설치할 구조물 품질</label>
        <div class="content">{{ contInfoData.quality }}</div>
      </div>
      <div class="list" *ngIf="electLicence()">
        <label>전기면허증</label>
        <div class="content"><button ion-button color="light" (click)="viewImg(elect_licence)">보기</button></div>
      </div>
      <div class="list" *ngIf="hasContInfo('module_guarent')">
        <label>모듈보증</label>
        <div class="content">{{ contInfoData.module_guarent }}</div>
      </div>
      <div class="list" *ngIf="hasContInfo('inv_guarent')">
        <label>인버터보증</label>
        <div class="content">{{ contInfoData.inv_guarent }}</div>
      </div> -->
      <div style="    text-align: center;" class="bottomlist">
        <h4 *ngIf="moduleName!=null"  style="margin:16px 0">{{moduleName}}</h4>
        <img *ngIf="moduleName!=null"  src="{{modulePhoto}}" />
        <h4 *ngIf="invName!=null" style="margin:16px 0">{{invName}}</h4> 
        <img  *ngIf="invName!=null" src="{{invPhoto}}"/>
        <h4 *ngIf="qName!=null" style="margin:16px 0">{{qName}}</h4> 
        <img *ngIf="qName!=null" src="{{qPhoto}}"/>
        <h4 *ngIf="modName!=''"  style="margin:16px 0">{{modName}}</h4> 
        <img *ngIf="modName!=''" src="{{modPhoto}}"/>
        <h4 *ngIf="invGName!=''" style="margin:16px 0">{{invGName}}</h4> 
        <img *ngIf="invGName!=''"  src="{{invGPhoto}}"/>
        <!-- <h4 *ngIf="etcName!=null" style="margin:16px 0">{{etcName}}</h4>
        <img *ngIf="etcName!=null" src="{{etcPhoto}}"/> -->
      </div>
      <div class="list">
        <label>설치 후 A/S조건</label>
        <div class="content">{{ comData.as_guide }}</div>
      </div>
      <div class="list mb10">
        <label>결제종류</label>
        <div class="content">현금(에스크로 계좌)</div>
      </div>
    </div>
  </div>

  <div class="no-data mt30" *ngIf="!hasComData()">
    <h3>로딩중입니다...</h3>
  </div>

</ion-content>
