
<ion-header>
  <div class="top_bar">
    <span class="title">서비스 안내</span>
    <img style="width:32px;" src="assets/imgs/logout.png" class="back_img" (click)="back()">
  </div>
</ion-header>

<ion-segment [(ngModel)]="tab">
  <ion-segment-button value="tab1">
  홍보 동영상
  </ion-segment-button>
  <ion-segment-button value="tab2">
   솔라미 시스템
  </ion-segment-button>
  <ion-segment-button value="tab3">
  제공되는 정보
  </ion-segment-button>
  
</ion-segment>
<!-- 솔라미 시스템 -->
<ion-content>
  <div [ngSwitch]="tab">
      <ion-list style="    text-align: center;
    " *ngSwitchCase="'tab1'">
      

        
        <div style="    margin-top: 20px;" *ngFor="let a of newarray ; let idx = index">
                    <iframe width="90%" height="280"
                    [src]="a.url">
                    </iframe>
    
                  </div>

        </ion-list>
    <!-- 홍보 동영상-->
    <ion-list style="text-align: center;" *ngSwitchCase="'tab2'">

          <img class="img" src="assets/imgs/22.png"/>

    </ion-list>
    <!-- 제공되는 정보 -->
    <ion-list class="contract" *ngSwitchCase="'tab3'">
      <div class="table">
          <img src ="assets/imgs/1.png"/> <span>비교견적</span>
      </div>
      <div class="table">
          <img src ="assets/imgs/2.png"/><span>당신의 주택/건물에 설치 예상 이미지</span>
      </div>
      <div class="table">
          <img src ="assets/imgs/3.png"/><span>당신의 주소지의 월간 예상 발전량</span>
      </div>
      <div class="table">
          <img src ="assets/imgs/4.png"/><span>최적의 설치 각도 및 방향</span>
      </div>
      <div class="table">
          <img src ="assets/imgs/5.png"/><span>전기료 감면 효과</span>
      </div>
      <button  *ngIf="!isP()" style="   
     background: #262626;
    margin-top: 1em;
    border-radius: 10px;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;" ion-button color="light" class="login" (click)="anal()"><img style="width: 12px;
height: 12px;" class="mark" src="assets/imgs/bar-chart.png">분석 의뢰하기</button>

<div class="auth-cont" *ngIf="!isLogin()">
    <button  style="   
    text-align: center;
    background: #e15a00;
    width: 40%;
border-radius:  10px 0 0px 10px;
margin-left: -0.5em;
-webkit-box-shadow: none !important;
color: white;
    " ion-button color="light" class="login" (click)="login()">
   <img style="width: 14px;
height: 14px; margin-right:5px;" class="mark" src="assets/imgs/lock-open.png">
로그인</button>
    <button  style="
    color: black;
    text-align: center;
    background: #e97e00;
    width: 40%;
border-radius: 0px 10px 10px 0px;
margin-left: -0.5em;
-webkit-box-shadow: none !important;
color: white;

    " ion-button color="light" class="register" (click)="registerPage()"><img style="width: 14px;
height: 14px; margin-right:5px;" class="mark" src="assets/imgs/following.png">회원가입</button>
</div>
    </ion-list>
    <!-- 설치완료 -->
   
  </div>


<ion-footer>
  <div class="footer-cont">
    <h3>© 솔라미(Solarmy)</h3>
    <FORM name='CERTMARK_FORM' METHOD='POST'>
      <input type="hidden" name="certMarkURLKey">
  </FORM> 
  <!-- <a href="javascript:onPopCertMar('eb0b73c3740ee4489320997ed6a60473')"><img src='https://escrow.nonghyup.com/images/IC/es/img_nh_mark02.gif' alt='에스크로이체로 결제하기' border='0'/></a>  -->
  <a href="#" (click)="escroclick();"><img src='https://escrow.nonghyup.com/images/IC/es/img_nh_mark01.gif' alt='에스크로이체로 결제하기' border='0'/></a> 
             
  
  </div>
</ion-footer>
</ion-content>