
<ion-header>
  <div class="top_bar">
    <span class="title">서비스 안내</span>
    <img style="width:32px;" src="assets/imgs/logout.png" class="back_img" (click)="back()">
  </div>
</ion-header>

<ion-segment [(ngModel)]="tab">
  <ion-segment-button value="tab1">
  솔라미 시스템
  </ion-segment-button>
  <ion-segment-button value="tab2">
   홍보 동영상
  </ion-segment-button>
  <ion-segment-button value="tab3">
  제공되는 정보
  </ion-segment-button>
  
</ion-segment>
<!-- 솔라미 시스템 -->
<ion-content>
  <div [ngSwitch]="tab">
      <ion-list *ngSwitchCase="'tab1'">
        <div  class="title">
            Solamy 플랫폼 시스템
        </div>
         
        <div class="subtitle">
            당신을 위한 맞춤형 태양관
        </div>
       

          <div class="ttt">
            Solamy는 지붕 위에 올라가지 않고도 컴퓨터와 모바일을 통해서
            작업을 수행합니다. 주거용 태양광 시스템을 설계하고, 인증된
            제품 반영하여 정확한 견적을 제공합니다. 
  
            솔라미 플랫폼 가이드
            주거용 태양광에 대해서 분석 의뢰하시면 24시간내에 자료를
            받아 보실 수 있습니다. 
          </div>
          


          <p class="tt"> 1. 분석결과</p>
         
          <div class="ttt">
            태양광 설치의 미리보기의 효과에 대한 분석자료를 제공합니다.
          </div>
         

          <img class="img" src="assets/imgs/guide01.png"/>

          <p class="tt">   2. 업체선정</p>
        

          <div class="ttt">
            솔라미 플랫폼은 현재 오프라인에서 주거용 태양광 설치시 발생하는 
            영업수당, 품질이 낮은 저렴한 제품 사용, 불투명한 소비자 가격 등의 
            문제점을 제거합니다.  <br>
            인증된 태양광 설치 제품을 반영하여,  최고의 전문가로 구성된 지역
            태양광 업체들로부터 받은 견적을 분석하여 가장 좋은 조건의 업체를 
            추천해드립니다. 
          </div>
          
          <img class="img" src="assets/imgs/guide02.png"/>

        </ion-list>
   
    <!-- 홍보 동영상-->
    <ion-list style="text-align: center;" *ngSwitchCase="'tab2'">
        <div  *ngFor="let a of newarray ; let idx = index">
                    <iframe width="90%" height="280"
                    [src]="a.url">
                    </iframe>
    
                  </div>
    </ion-list>
    <!-- 제공되는 정보 -->
    <ion-list class="contract" *ngSwitchCase="'tab3'">
      <div class="table">
          <img src ="assets/imgs/1.png"/> <span>비교견적</span>
      </div>
      <div class="table">
          <img src ="assets/imgs/2.png"/><span>당신의 주택/건물에 설치 예상 이미지</span>
      </div>
      <div class="table">
          <img src ="assets/imgs/3.png"/><span>당신의 주소지의 월간 예상 발전량</span>
      </div>
      <div class="table">
          <img src ="assets/imgs/4.png"/><span>최적의 설치 각도 및 방향</span>
      </div>
      <div class="table">
          <img src ="assets/imgs/5.png"/><span>전기료 감면 효과</span>
      </div>
      <button  style="   
     background: #262626;
    margin-top: 1em;
    border-radius: 10px;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;" ion-button color="light" class="login" (click)="anal()"><img style="width: 12px;
height: 12px;" class="mark" src="assets/imgs/bar-chart.png">분석 의뢰하기</button>

<div class="auth-cont" *ngIf="!isLogin()">
    <button  style="   
    text-align: center;
    background: #e15a00;
    width: 40%;
border-radius:  10px 0 0px 10px;
margin-left: -0.5em;
-webkit-box-shadow: none !important;
color: white;
    " ion-button color="light" class="login" (click)="login()">
   <img style="width: 14px;
height: 14px; margin-right:5px;" class="mark" src="assets/imgs/lock-open.png">
로그인</button>
    <button  style="
    color: black;
    text-align: center;
    background: #e97e00;
    width: 40%;
border-radius: 0px 10px 10px 0px;
margin-left: -0.5em;
-webkit-box-shadow: none !important;
color: white;

    " ion-button color="light" class="register" (click)="registerPage()"><img style="width: 14px;
height: 14px; margin-right:5px;" class="mark" src="assets/imgs/following.png">회원가입</button>
</div>
    </ion-list>
    <!-- 설치완료 -->
   
  </div>
</ion-content>