<!--
  Generated template for the CurrentInstallDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="top_bar">
        <span class="title">설치 현황 상세</span>
        <img src="assets/imgs/close.png" class="back_img" (click)="back()">
      </div>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label style="    margin-top: 1.5em;"><p style="    width: 30%;
            float: left;">설치일 </p>  <p>{{time}}</p></ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="    margin-top: 1.5em;"><p style="    width: 30%;
              float: left;">설치지역 </p>  <p>{{address}}</p></ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="    margin-top: 1.5em;"><p style="    width: 30%;
              float: left;">설치용량 </p>  <p>{{amount}}</p></ion-label>
        </ion-item>
        <ion-item >
            <ion-label style="    margin-top: 1.5em;"><p style="    width: 30%;
              float: left;">제목 </p>  <p style="font-size:1.3rem;">{{name}}</p></ion-label>
          </ion-item>
        <ion-item style="text-align: center;">
            <ion-label><img src="{{url}}"/></ion-label>
          </ion-item>
          <!-- <ion-item >
              <ion-label style="    margin-top: 1.5em;"><p style="    width: 30%;
                float: left;">인버터 제품명 </p>  <p>{{invertername}}</p></ion-label>
            </ion-item>
            <ion-item style="text-align: center" >
                <ion-label><img src="{{inverterphoto}}"/></ion-label>
              </ion-item> -->
              <!-- <ion-item>
                <ion-label style="    margin-top: 1.5em;"><p style="    width: 30%;
                  float: left;">설치 현황 사진 </p> </ion-label>
              </ion-item> -->
              <ion-item style="text-align: center;" *ngFor="let a of currentarray"> 
                  <ion-label ><p style="font-size:1.5em; margin-bottom:5px;">{{a.content}}</p><img src="{{a.photo}}"/></ion-label>
                </ion-item>
                <ion-item style="text-align: center;" *ngFor="let a of inverterphoto"> 
                  <ion-label ><p style="font-size:1.5em; margin-bottom:5px;">{{a.content}}</p><img src="{{a.photo}}"/></ion-label>
                </ion-item>  
                <ion-item style="text-align: center;" *ngFor="let a of thirdarray"> 
                    <ion-label ><p style="font-size:1.5em; margin-bottom:5px;">{{a.content}}</p><img src="{{a.photo}}"/></ion-label>
                  </ion-item> 

          <ion-item style="text-align: center;" *ngFor="let a of fourtharray"> 
                  <ion-label ><p style="font-size:1.5em; margin-bottom:5px;">{{a.content}}</p><img src="{{a.photo}}"/></ion-label>
                </ion-item> 
             
    
              
                <ion-item style="text-align: center;" *ngFor="let a of fiftharray"> 
                  <ion-label ><p style="font-size:1.5em; margin-bottom:5px;">{{a.content}}</p><img src="{{a.photo}}"/></ion-label>
                </ion-item>
                <ion-item style="text-align: center;" *ngFor="let a of sixtharray"> 
                  <ion-label ><p style="font-size:1.5em; margin-bottom:5px;">{{a.content}}</p><img src="{{a.photo}}"/></ion-label>
                </ion-item> 
      </ion-list>


</ion-content>
